.form {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction:column ; 
}

.inputContainer {
    display: flex;
    justify-content: center;
}

/* .typeOf {
   display: flex;
   align-self: center;
} */

p {
    font-size: 1rem;
    margin-top: .25rem;
    font-weight: 900;
}

input {
   width: 100%;
   max-height: 1rem;
}
search {

}

button {
 width:50% ;
 align-self: center;
}
