.form {
    margin-top: .75rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction:column ; 
}

.inputContainer {
    display: flex;
    justify-content: center;
}


p {
    
    font-size: 1rem;
    margin-top: .25rem;
    font-weight: 900;
    color: white;
}

input {
    border: .1rem solid white;
   width: 50%;
   min-height: 1rem;
   color: white;
}

.typeOf {
    border: .1rem solid white;  
}

.media {
    color: white;
}

.pageBox {
    display: inline-flex;
    align-self: center;
}

.leftArrow, .rightArrow {
    font-weight: 800;
    font-size: 3rem;
    color: white;
}

.pageNo {
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
}

button {
color: white;
 width:40% ;
 align-self: center;
 border-radius: .25rem;
 border: .10rem solid white;
}