body {
    font-family:sans-serif ;
}

.detailsBox {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
.fb-container {
    height: 35rem;
    min-width: 22rem;
    /* border: 5px solid blue; */
    display: flex;
    align-items: center;
}

.poster-box {
    width: 20rem;
    min-height: 30rem;
    margin: 2%; 
    margin-top: 3rem;
}

 .movieTitle {
    color: white;
    margin-bottom: 1.5rem;
}

button {
    margin-top:1rem;
    width: 60%;
    font-weight: 600;
    margin-left: 2%;
}

.fbc-2 {
    justify-content: flex-start;
     /* border: 4px solid red; */
     width: 17rem;
     max-height: 30rem;
     margin: 2% 0 2% 0;
     display: flex;
     flex-direction: column;
     padding: 0;
}

.fbc-3 {
    margin-top: -5%;
    width: 12rem;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.split {
    margin-right: .25rem;
}

h5 {
    border-radius: .15rem;
    background-color: gray;
    font-size: 23px;
    padding: 1%;
    height:auto;
    width:auto;
    display: flex;
   justify-content: center;
   align-items: center;
}

.fbc-4{
    margin-top: -5%;
    /* border: 4px solid olivedrab; */
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.genre {
    border-radius: .15rem;
    background-color: gray;
    font-size: 18px;
    padding: 1%;
    height:auto;
    width:auto;
    display: flex;
   justify-content: center;
   align-items: center;
}



h3 {
    font-size: larger;
    font-weight: bolder;
    color: white;
}
 .descript {
    padding: .25rem;
    font-weight: 600;
    /* margin-top: -5%; */
    font-size: 1rem;
} 
.fbc-6 { 
    /* border: 4px solid purple; */
    margin-top: 4%;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
h4 {
    color: blue;
    font-size: 2rem;
}

.btnBox {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

button {
    color: white;
    margin-top: 1rem;
    background-color: black;
    font-weight: 800;
    width: 25%;
}